/**
*
*   This is main CSS file
*   for this project...
*
*
*
*/

/* ========================== */
/* ========================== */
/* RESET CSS */
/* ========================== */
/* ========================== */
html, body { padding: 0; margin: 0; }

.container-fluid
{ 
    padding: 0!important; 
    margin: 0!important; 
    width: 100%; 
}

.roboto 
{
    font-family: "Roboto", sans-serif;
}

.pacifico
{
    font-family: "Pacifico", sans-serif;
}

.row 
{
    padding: 0;
    margin: 0;
}

.img
{
    box-shadow: 2px 2px 2px #888;
}

/* ========================== */
/* ========================== */
/* NAVBAR */
/* ========================== */
/* ========================== */

.navbar{ font-family: 'Roboto'; }

/* ========================== */
/* ========================== */
/* FRONT PAGE */
/* ========================== */
/* ========================== */
.front-page 
{
    width: 100%;
    height: 800px;
    background: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    padding: 100px 0 0 0;
}


.front-page img 
{
    margin-bottom: 100px;
    width: 200px;
}

.front-page h1 
{
    font-size: 4em;
    color: #fff;
}

.front-page .wp-search-form 
{
    width: 700px;
    margin: auto;
    margin-top: 50px;
}

.front-page .wp-search-form input
{
    width: 550px;
    float: left;
    border: none;
    height: 80px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
}

.front-page .wp-search-form button
{
    width: 150px;
    float: left;
    border: none;
    height: 80px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* ========================== */
/* ========================== */
/* sidebar */
/* ========================== */
/* ========================== */
.container-content 
{
    padding: 100px 200px 100px 200px;
}

.main-sidebar .card 
{
    margin: 80px 0;
}

.main-sidebar article 
{
    margin: 80px 0;
    padding: 0;
}

.main-sidebar .card:first-child 
{
    margin: 0 0;
}

.main-sidebar ul
{
    margin: 0; padding: 0;
    list-style: none;
}

.main-sidebar ul li 
{
    margin: 12px 0;
}

.main-sidebar table 
{
    width: 100%;
}

/* ========================== */
/* ========================== */
/* Post Snippet */
/* ========================== */
/* ========================== */
.blog-posts 
{
    padding: 0 0;
}

.blog-post-snippet
{
    margin-right: 100px;
    margin-bottom: 200px!important;
    float: left;
}

.blog-post-snippet:first-child
{
    margin-top: 0;
}

.post-date
{
    width: 125px;
    float: left;
}

.post-content 
{
    width: calc( 100% - 125px );
    float: left;
    padding: 0 20px;
}

.post-date ul 
{
    margin: 0;
    padding: 0;
    width: 100%;
    border: 2px solid #4d8ea8!important;
    color: #4d8ea8;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #888;
}

.post-date ul li 
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.post-date ul li:first-child
{
    border-bottom: 1px solid #4d8ea8;
    padding: 35px 25px;
    font-size: 2em;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.post-date ul li:last-child
{
    padding: 15px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.post-content img 
{
    margin-bottom: 50px;
}

.post-content h1
{
    margin-bottom: 40px;
}

.post-content h1 a 
{
    text-decoration: none;
    color: #333;
}

.post-content .btn-link 
{
    padding: 0;
    margin: 0;
}

.post-excerpt 
{
    color: rgb(90, 87, 87);
}


/* ========================== */
/* ========================== */
/* Footer */
/* ========================== */
/* ========================== */
.footer 
{
    background: #333;
    color: #fff;
    padding-top: 100px;
}

/* ========================== */
/* ========================== */
/* Navbar Search Form */
/* ========================== */
/* ========================== */
.navbar form 
{
    background: #fff;
    padding: 6px;
    border-radius: 5px;
}
.navbar form input 
{
    border: none;
    background: none;
}

.navbar form button 
{
    border: none;
    background: none;
}

/* ========================== */
/* ========================== */
/* Footer */
/* ========================== */
/* ========================== */

.footer 
{
    padding-top: 50px;
}

.footer ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer ul a 
{
    text-decoration: none;
    color: #fff;
}


.footer .row > div 
{
    padding: 0 50px;
}

.footer .master 
{
    margin-top: 100px;
    font-size: 0.85em;
}

/* ========================== */
/* ========================== */
/* Page personal */
/* ========================== */
/* ========================== */


.page-personal
{
    float: left;
    width: 250px;
}

.page-personal .post-content
{
    width: 100%;
}

.page-personal img
{
    width: 100%!important;
    height: 300px;
    float: left;
}